/* TODO: Add CSS styling for extension UI */

body {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  #message {
    font-size: 20px;
    text-align: center;
  }
  